# NAMESPACE for package 'mcmcOutput'

importFrom("coda", "mcmc.list") #"mcmc", "as.mcmc.list", "thin")

#importFrom("parallel", "detectCores", "makeCluster", "stopCluster", "clusterEvalQ",
#  "clusterExport", "parLapply")
importFrom("stats", "window", "median", "sd", "quantile")
importFrom("utils", "head", "tail", "str", "object.size")
importFrom("HDInterval", "hdi")

# Constructor methods
export("mcmcOutput")
S3method("mcmcOutput", "default")
S3method("mcmcOutput", "mcmc.list")
S3method("mcmcOutput", "jagsUI")

# Extractors
S3method("$", "mcmcOutput")
S3method("[", "mcmcOutput")

# Featured methods
S3method("print", "mcmcOutput")
S3method("summary", "mcmcOutput")
# add window, thin, burnin

# General methods that don't work otherwise
S3method("head", "mcmcOutput")
S3method("tail", "mcmcOutput")
S3method("str", "mcmcOutput")
